.btn{
    background-color: rgb(167, 88, 242);
}
.height{
    background-color: rgb(234, 176, 70);
}
.medium{
    background-color: rgb(68, 87, 235);
}

.low{
    background-color: rgb(231, 112, 211);
}